@import '../../../styles.scss';

.offer{
    &-content{
        padding: 50px 0;
    }
    &-title{
        font-family: "Teko", sans-serif;
        font-size: 48px;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: #151515;
        text-align: center;
    }
    &-items{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 25px;
        @include breakpoint(tab-port){
            grid-template-columns: repeat(3,1fr);
        }
        @include breakpoint(phone){
            grid-template-columns: repeat(2,1fr);
        }
        @include breakpoint(xs){
            grid-template-columns: repeat(1,1fr);
        }
    }
    &-item{
        &__icon{
            width: 47px;
            height: 47px;
            color: #ffdb73;
            & svg{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
            }
        }
        &__title{
            font-size: 24px;
            font-family: "Teko", sans-serif;
            letter-spacing: .05em;
            text-transform: uppercase;
            color: #151515;
        }
        &__text{
            color: #9b9b9b;
            margin-top: 15px;
        }
    }
}